.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}

  .room {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0, auto;
  }

  .table {
  }

  .tr {
    width: 100%
  }

  .lesson-card {
    background-color: $yellow;
    margin: 3px;
  }


}
