.form-structure {
  display: flex;
}
.input-target {
  flex-grow: 1;
}

.write-memo-icon:hover {
  opacity: 0.8
}

.form-trash {
  width: 35px;
  height: 35px;
  padding-right: 12px;
  padding-top: 15px;
}

.lesson-info {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.lesson-info img {
  width: 20px;
  height: 20px;
}
.lesson-info span {
  padding-left: 5px;
}

.lesson-details {
  display: flex;
  align-items: center;
}

.teacher-information {
  margin: 45px 0;
}


.small-icon-effect:hover{
  // height: 35px;
  // width:20px;
  opacity:0.8;
}

.teacher-photo-information {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.user-photo {
  margin: 25px;
}
.teacher-name {
  margin: 35px;
}
.level-novice {
  background-color: $yellow;
  opacity: 0.7;
}

.level-conversational {
  background-color: $green;
  opacity: 0.7;
}

.level-business {
  background-color: $blue;
  opacity: 0.7;
}

.level-advanced {
  background-color: $red;
  opacity: 0.7;
}

.lesson-level p {
  color: white;
}

.icon-line {
  text-align: right;
  background-color: white;
  margin-bottom: 5px;
}
.student-comment {
  flex-grow: 1;
  padding-left: 20px;
}
.students {
  margin-top: 40px;
  padding: 0 30px;
  h4 {
    padding-left: 10px;
  }
}

.student {
  border-bottom: 1px solid rgba(220,224,244,0.4);
  border-top: 1px solid rgba(220,224,244,0.4);
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 1px;
}

.information-box {
    background: white;
    overflow: hidden;
    margin: 0 auto 50px auto;
    position: relative;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    0px 5px 10px -5px rgba(0, 0, 0, 0.5);
    box-shadow:         0px 5px 10px -5px rgba(0, 0, 0, 0.5);
}


.user-photo-information {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile-show{
  margin-top: 150px;

}
.profile {
  display: flex;
  justify-content: space-around;
}
.user-dials {
  margin-top: 70px;
}
.user-name {
  text-align: center;
}

.user-details {
  padding-top: 25px;
}




.left { float: left; }
.right { float: right; }
.clear { clear: both; }




.cover {
    background: url('https://picsum.photos/200/300/?random') center;
    height: 180px;
    position: relative;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 5px 5px -5px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 5px 5px -5px rgba(50, 50, 50, 0.3);
}
.cover .head {

    background: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.cover .head .menu.active,
.cover .head .menu:hover {
    opacity: 1;
}
.cover .show-information {
    position: absolute;
    background: #000;
    border: 2px solid #ffffff;
    cursor:pointer;
    top: 125px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    0px 5px 5px -5px rgba(50, 50, 50, 0.3);
    box-shadow:         0px 5px 5px -5px rgba(50, 50, 50, 0.3);
}
.cover .show-information .light {
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    top: -65px;
    width: 100px;
    height: 120px;
    position: absolute;
    left: 15px;
    transform:rotate(-30deg);
    -ms-transform:rotate(-30deg); /* IE 9 */
    -webkit-transform:rotate(-30deg); /* Safari and Chrome */
}

.main {
    padding: 60px 10px 10px;
    text-align: center;
}
.main h1 {
    text-align: center;
    text-shadow: 0 -1px 0 #888888;
    font-size: 30px;
    margin-bottom: -3px;
}

.social {
    margin: 10px 0 20px;
    text-align: center;
}
.social ul li {
    display: inline;
}
.social ul li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    transition: all .5s;
    -moz-transition: all .5s; /* Firefox 4 */
    -webkit-transition: all .5s; /* Safari and Chrome */
    -o-transition: all .5s; /* Opera */
}

.student-memo {
  margin: 30px 0;
}
.student-memo-list {
  padding: 40px 0;
}

.student-memo-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-memo-details {
  padding-left: 20px;
}

.memo-teacher-pic {
  width: 80px;
  border-radius: 50%;
}


