.information-box {
  background-color: #F9F9F9;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  margin-top: 25px;
  margin-bottom: 50px;
}
.information-box-content {
}
.user-photo-information {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.profile-show{
  margin-top: 150px;

}
.profile {
  display: flex;
  justify-content: space-around;
}
.user-dials {
  margin-top: 70px;
}
.user-name {
  font-family: $headers-font;
}

.user-details {
  padding-top: 25px;
}

