.new-student-form {
  background-color: #F9F9F9;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.student-new-title {
  margin-top: 50px;
  padding-top: 25px;
}

.new-student-form-imput {
  margin-top: 25px;
  margin-bottom: 50px;
  padding:20px;
}
