.student-list {
  background-color: #F9F9F9;
}
.student-list-title {
  margin-top: 50px;
  padding-top: 25px;
}
.add-students {
  height: 60px;
  width: 60px;
}

.list-function {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
}
