<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<%= link_to "Create a new student", new_student_path  %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% @students.each do |student| %>
      <ul>
        <li><%= link_to student.name, student_path(student) %></li>
      </ul>
      <% end %>
    </div>
  </div>
</div>


