<h1>Students#show</h1>
<p>Find me in app/views/students/show.html.erb</p>

<ul>
<li><%= @student.name %></li>
<li><%= @student.category %></li>
<li><%= @student.birth_date %></li>
<li><%= @student.description %></li>
</ul>
