<div class="mini-search teacher-ul">
  <section class="list-wrap">
    <div class="form-inline">
       <%= image_tag "id_card.svg", class: "index-icon" %>
    </div>
  <input type="text" id="search-text" placeholder="search" class="search-box">
  <div class="list-count"></div>
  <ul id="list">
    <% @users.each do |user| %>
      <li class="in">
        <% if user.photo.blank?%>
          <%= image_tag "user.svg", class: "teachers-photos" %>
        <% else %>
          <%= cl_image_tag user.photo, crop: :fill, class: "teachers-photos"%>
        <% end %>
        <%= link_to user.first_name, user_path(user) %>
      </li>
    <% end %>
    <span class="empty-item">no results</span>
  </ul>
  </section>
</div>
