<div class="profile">
  <div class="user-imformation">
    <% if @user.photo.nil? %>
      <%= image_tag "default_icon.png", id:"default-icon" %>
    <% else %>
      <%= cl_image_tag @user.photo, crop: :fill, class: "user-profile" %>
    <% end %>
    <%= link_to "Edit profile",  edit_user_registration_path, class: "btn btn-warning" %>
  </div>
</div>
