<%= content_for(:navbar_class, "navbar-home") %>



<div class="banner">
  <div class="banner-content text-center">
    <h1>scheduleMe</h1>
    <p><span id="banner-typed-text"></span></p>
    <%= link_to 'Sign Up', new_user_registration_path, class: "btn-medium" %>
  </div>
</div>


<div class="container">
  <div class="box first">
    <span class="icon-cont"><i class="fa fa-rocket"></i></span>

    <h3>Easy</h3>

    <ul class="hidden">
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
    </ul>

    <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
  </div>

  <div class="box second">
    <span class="icon-cont"><i class="fa fa-edit"></i></span>

    <h3>Simple</h3>

    <ul class="hidden">
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
    </ul>

    <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
  </div>

  <div class="box third">
    <span class="icon-cont"><i class="fa fa-desktop"></i></span>

    <h3>Communication</h3>

    <ul class="hidden">
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
    </ul>

    <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
  </div>

  <div class="box fourth">
    <span class="icon-cont"><i class="fa fa-coffee"></i></span>

    <h3>Share</h3>

    <ul class="hidden">
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
      <li>Lorem ipsum dolor</li>
      <li>Set amet consecuter</li>
    </ul>

    <a class="expand"><span class="plus">+</span><span class="minus">-</span></a>
  </div>
</div>

