<div class = "container" style = "margin-top: -90px;">
<div class = "row">
  <p>
    <% if @user.role == "manager"%>
      <%= render 'weekly' %>
    <% else %>
      <%= render 'daily_teacher' %>
    <% end %>
  </p>
</div>
</div>


