<div class = "container">

<h1>Welcome back, <%=@user.first_name%>!</h1>
  <p>
    <% if @user.role == "manager"%>
      <%= render 'weekly' %>
    <% else %>
      These are the lessons you teach.
      <%= render 'daily_teacher' %>
    <% end %>
  </p>
</div>


