<div class="home-boxes" >
  <div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <div class="service-box">
                <div class="service-icon service-box-blue">
                    <div class="front-content">
                        <i class="fas fa-calendar-check"></i>
                        <h3>Manage</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Manage</h3>
                    <p>Simple and easy scheduling. Manage your weekly lessons more efficiently!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box">
                <div class="service-icon service-box-yellow">
                    <div class="front-content">
                        <i class="fas fa-paper-plane"></i>
                        <h3>Better Communication</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Better Communication</h3>
                    <p>No miscommunication between managers and teachers! Sudden lesson changes are not scary anymore!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="service-box ">
                <div class="service-icon service-box-green">
                    <div class="front-content">
                        <i class="fas fa-heart"></i>
                        <h3>Cheaper and Eco Friendly</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Cheap and ECO friendly</h3>
                    <p>No paper means saving money!</p>
                    <p>Using less paper means helping the environment!</p>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4 col-sm-6">
            <div class="service-box">
                <div class="service-icon orange">
                    <div class="front-content">
                        <i class="fas fa-heart"></i>
                        <h3>ECO FRIENDLY</h3>
                    </div>
                </div>
                <div class="service-content">
                    <h3>Eco Friendly</h3>
                    <p>Use less paper means great for the envirment! Save the all resources in the world!</p>
                </div>
            </div>
        </div> -->
    </div>
  </div>
</div>
