/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0px;
  text-align: center;
  color: white;
  padding: 0px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
