#navber {
  position: relative;
}
#fixed-bar {
  position: absolute;
  top: 60px;
  width: 100vw;
}
.banner {
  height: calc(100vh - 60px);
  margin-top: 0px !important;
  padding-bottom: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(170,170,170,0.1), rgba(170,170,170,0.1)), image-url("bannermaybe.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 85px;
    text-align: center;
  }
  h2 {
    color:white;
  }

  p {
    color: white;
    opacity: .8;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

.main-pages {
  margin-top: 120px;
}

.shadow{
  text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4) !important;
}
