#navber {
  position: relative;
}
#fixed-bar {
  position: absolute;
  top: 60px;
  width: 100vw;
}
.banner {
  height: calc(100vh - 60px);
  margin-top: 0px !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("banner.jpg");
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 100px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 30px;
  }
  .btn {
    padding: 15px 50px;
  }
}

.main-pages {
  margin-top: 120px;
}


